server:
  port: 8080

spring:
  application:
    name: smart-task

  datasource:
    url: jdbc:postgresql://localhost:5432/smarttaskdb
    username: postgres
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
